MODEL_TARGET=local

# Your personal GCP project for this bootcamp
GCP_PROJECT=EDIT-THIS-FIELD
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=power_EDIT-THIS-FIELD

# BigQuery
BQ_REGION=EU
BQ_DATASET=power


##################### FOR LATER ##########################


# Compute Engine
INSTANCE=power-instance

# Model Lifecycle
MLFLOW_TRACKING_URI=https://mlflow.lewagon.ai
MLFLOW_EXPERIMENT=power_experiment_EDIT-THIS-FIELD
MLFLOW_MODEL_NAME=power_EDIT-THIS-FIELD

PREFECT_FLOW_NAME=power_lifecycle_EDIT-THIS-FIELD
PREFECT_LOG_LEVEL=WARNING

# Docker container
GAR_IMAGE=power
GAR_MEMORY=2Gi

# API on Gcloud Run
SERVICE_URL=https://power-v2-pdymu2v2na-ew.a.run.app
